footer {
    position: fixed;
    bottom: 0;
    font-size: 10px;
}

h1 {
    position: fixed;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

ol {
    position: fixed;
    font-weight: bold;
    margin-top: 3em;
    font-family: 'Courier New', Courier, monospace;
}